/* Тело и его общие части */
body {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: #ffffff;
    margin: 0px;
    cursor: url(../icons/3D/pointer\ 2.png), default;
}

section:not(.form) h2 {
    text-align: center;
}

    /* Шапка */
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-image: url(../img/smoke-neon.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
}

header > img {
    width: 100px;
}

.neon {
color: #fff;
text-shadow:
      0 0 2px #fff,
      0 0 2px #fff,
      0 0 20px #fff,
      0 0 12px #0051ff,
      0 0 25px #4144ff,
      0 0 32px #008cff,
      0 0 60px #43c0ff,
      0 0 110px #5fc3f5;
}

.neon2 {
    color: #fff;
    text-shadow:
          0 0 1px #fff,
          0 0 2px #fff,
          0 0 5px #fff,
          0 0 11px #f530ff,
          0 0 20px #f530ff,
          0 0 30px #f530ff,
          0 0 55px #f530ff,
          0 0 80px #f530ff;
    }

.neon3 {
    color: #fff;
    text-shadow:
          0 0 1px #fff,
          0 0 2px #fff,
          0 0 5px #fff,
          0 0 11px #01eeff,
          0 0 20px #01ffea,
          0 0 30px #01ffc8,
          0 0 55px #01ffc8,
          0 0 80px #01ffc8;
    }

nav {
width: 40%;
justify-content: space-between;
display: flex;
margin-top: 2.5em;
padding-left: 4.5%;
}

.burger {
display: none;
}

header ul {
display: flex;
list-style-type: none;
margin-top: 3px;
margin-right: 6px;
margin-bottom: 0px;
justify-content: space-between;
}
header li {
margin-top: auto;
margin-bottom: auto;
}

#phoneimg {
height: 46px;
}

#mailimg {
height: 40px;
}

/* Реклама */
.ad {
    border: 2px rgb(250, 249, 249) solid;
    height: 23em;
}
/* Акции */
.promo {
    height: 18em;
}

.promo p {
    margin: 0%;
}

.promoitself {
    display: flex;
}

.promoitself div {
    width: 25%;
    height: 15em;
    background-image: url(../img/transparent-square-frame-with-neon-glow_136469-748.webp);
    background-size: 100% 100%;
    text-align: center;
}

.promo, .popular {
    color: #fff;
    text-shadow:
          0 0 1px #fff,
          0 0 2px #fff,
          0 0 5px #fff,
          0 0 11px #fc2a7a,
          0 0 25px #ff30b0,
          0 0 30px #ff30b0,
          0 0 55px #ff30b0,
          0 0 90px #ff30b0;
}

.promo img {
    width: 150px;
    height: 150px;
    padding-top: 5%;
}


/* Популярные услуги */
.services {
    justify-content: space-evenly;
    display: flex;
    height: 18em;
    background-image: url(../img/1643194677_1-phonoteka-org-p-krasivii-neonovii-fon-1.jpg);
    background-size: 33% 100%;
}

/* Миниформа */
aside {
border: 2px solid rgb(253, 252, 252);
width: 10%;
height: 11em;
text-align: center;
position: fixed;
top: 38em;
}

aside img {
    width: 130px;
    height: 130px;
}


/* Достижения */
.about {
    display: flex;
    height: 40em;
    background-image: url(../img/1616979248_28-p-sinii-neonovii-fon-29.jpg);
    background-size: 75% 100%;
}

.progress {
    margin-left: 6%; 
    margin-top: 5%;
    width: 40%; 
    font-size: large;
}

.reviews {
    margin: 0 9%;
    padding: 6% 8%;
    width: 70%;
    background-image: url(../img/1664897738_5-amiel-club-p-neonovaya-stena-instagram-5.png);
    background-size: 100% 100%;
    border: #000000 solid 1px;
    box-shadow: 2px -2px 80px 15px black;
}

.about h4 {
    font-size: x-large;
}

.reviews h4 {
    margin-bottom: 11%;
    margin-top: 0%;
}

.reviews p:nth-child(2) {
    padding: 8% 0;
    margin: 0%;
}

.reviews p:nth-child(3) {
    text-align: end;
    padding: 5% 0;
    margin: 0%;
}

.reviews p:last-child {
    font-size: larger;
    text-align: center;
    padding-top: 11%;
}

/* Форма */
.form {
display: flex;
justify-content: space-between;
height: 30em;
}

.form div {
width: 50%;
}

.form h2 {
width: 50%;
text-align: center;
padding: 4%;
}

/* Подвал */
footer {
    background-color: black;
    color: #bf00ff;
    justify-content: space-between;
    display: flex;
    height: fit-content;
}

footer img {
    width: 70px;
    height: 70px;
}



/* Адаптивная верстка */
@media screen and (max-width: 700px) {
    nav {
        display: none;
    }
    .burger {
        display: flex;
        padding-left: 1em;
        margin-top: auto; 
        margin-bottom: auto;
        justify-content: center;
    }
    .burger img {
        height: 40px;
    }
    .burger a {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 5px;
    }
    #phoneimg {
        height: 38px;
    }
    #mailimg {
        height: 30px;
    }
    header ul {
        margin-top: 9px;
    }
}